{% set NETWORK_NAME = "devenv-network" %}
{% set SERVICE_ACCOUNT = "devenv-sa" %}
{% set REGION = "us-west1" %}

resources:
- name: devenv
  type: instance.jinja
  properties:
    zone: {{ REGION }}-a
    machineType: f1-micro
    network: {{ NETWORK_NAME }}
    subnetwork: {{ NETWORK_NAME }}-sub
    externalIP: {{ NETWORK_NAME }}-externalip
    serviceAccount: {{ SERVICE_ACCOUNT }}
- name: {{ NETWORK_NAME }}
  type: network.jinja
- name: {{ NETWORK_NAME }}-sub
  type: subnetwork.jinja
  properties:
    network: {{ NETWORK_NAME }}
    region: {{ REGION }}
- name: {{ NETWORK_NAME }}-firewall
  type: firewall.jinja
  properties:
    network: {{ NETWORK_NAME }}
- name: {{ NETWORK_NAME }}-externalip
  type: externalip.jinja
  properties:
    region: {{ REGION }}
- name: {{ SERVICE_ACCOUNT }}
  type: serviceaccount.jinja
  properties:
    roles:
    - roles/container.admin
    - roles/deploymentmanager.editor
    - roles/iam.serviceAccountUser
    - roles/compute.admin
    - roles/cloudbuild.builds.editor
    - roles/storage.admin
    - roles/viewer
    - roles/pubsub.editor
    - roles/cloudfunctions.developer
    - roles/cloudkms.cryptoKeyEncrypterDecrypter
    googleapi_agent_roles:
    - roles/resourcemanager.projectIamAdmin
    cloudbuild_agent_roles:
    - roles/cloudkms.cryptoKeyDecrypter
    - roles/cloudfunctions.developer
    - roles/iam.serviceAccountUser
- name: devenv-api
  type: api.jinja
  properties:
    apis:
    - container.googleapis.com
    - cloudbuild.googleapis.com
    - cloudfunctions.googleapis.com
    - cloudkms.googleapis.com
    - cloudscheduler.googleapis.com
    - run.googleapis.com
    - appengine.googleapis.com
    - containerscanning.googleapis.com
    - policytroubleshooter.googleapis.com
